{%extends 'base.html'%}



{%block content%}




{{user.is_student}}
<h1 class="text-center">Student profile</h1>
{% if object_list %}
<br><br>
<hr>
<h3 class="text-center">Quizzes Done</h3>
<ul class="list-group"  style ="margin-left:auto; margin-right: auto; width: 50%">
    {% for s in object_list%}
    <li class = "list-group-item" style = "padding:2em;">
        <a href="{{s.get_absolute_url}}" >{{s}}</a>
    </li>
    <li class = "list-group-item" style = "padding:2em;">
        Date Taken:{{s.date_taken}}
    </li>
    <br>
{%endfor%}
</ul>
{% else %}
<p>There are no summaries avalaible</p>
{% endif %}
{%endblock content%}